/*Color of functions*/
.ace-monokai .ace_storage.ace_type, .ace-monokai .ace_support.ace_class, .ace-monokai .ace_support.ace_type {
    color: #AE81FF;
}
/*Color of type words on objects and etc..*/
.ace-monokai .ace_string {
    color: #A6E22E ;
}
/*Color if statments, etc..*/
.ace-monokai .ace_keyword {
    /*color: #A1EFE4;*/
    color: #AE81FF;
}
/*Color parenteses*/
.ace-monokai .ace_paren {
    color:#A1EFE4;
}

/*Color of type words on objects and etc..*/
.ace-monokai .ace_entity.ace_other.ace_attribute-name {
    color: #AE81FF;
}

/*more color of type*/
.ace-monokai .ace_variable {
    color: #E6DB74;
}

/*Color of numbers*/
.ace-monokai .ace_constant.ace_numeric{
    color: #FD971F;
}
/*Color of function names*/
.ace-monokai .ace_entity.ace_name.ace_function {
    color: #66D9EF;
}
/*Color of operators = + - */
.ace-monokai .ace_keyword.ace_operator{
    color: #66D9EF;
}

/*ejs, html tag colors*/
.ace-monokai .ace_meta.ace_tag {
    color: #F94989;
}

/*boxy monokay colors */
/*purple - #AE81FF */
/*orange - #FD971F */
/*green - #A6E22E */
/*blue - #66D9EF */
/*babyblue - #A1EFE4 */
/*yellow - #E6DB74 */
